{
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-unused-vars": 1,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  }
}
